body, html {
    margin: 0;
    padding: 0;
    background-color: $primary-background;
    font-family: $secondary-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    color: #434D53;
    margin: 5px 0;
    padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

strong, b, .bold, .strong {
    font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.content {
    margin-top: 80px !important;
}

.full-width {
    padding: 0;
    overflow-x: hidden;
}

.container-sidebar {
    width: calc(100% - 300px);
    margin-left: 250px;
    margin-top: 20px;
}