form, .form {
    .form-group {
        margin-bottom: 5px;

        label {
            display: block;
            font-family: $secondary-font;
            color: $font-color-primary;
            font-weight: 500;
            margin-bottom: 5px;
        }

        input:not([type='checkbox']), select, .collapse, textarea {
            border-radius: 4px;
            border: 2px solid #dee2e3;
            padding: 5px 10px;
            font-family: $secondary-font;
            font-size: 15px;
            width: 100%;

            &.error{
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
            }
        }

        .collapse {

            &:hover .drop {
                max-height: 200px;
                overflow-y: scroll;
            }

            & .drop {
                max-height: 0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                /*justify-content: flex-start;*/
                font-size: 13px;

                -webkit-transition: max-height 0.5s;
                -moz-transition: max-height 0.5s;
                -ms-transition: max-height 0.5s;
                -o-transition: max-height 0.5s;
                transition: max-height 0.5s;
            }

        }

        input[type='submit'], button[type='submit'] {
            margin-top: 10px;
        }
    }
}
