@import './variables';

.presentation {
    background: linear-gradient(to left, #89216B, #DA4453);
    padding: 100px 0 100px 0;
    margin-top: 60px;

    .presentation-left {
        h1 {
            font-weight: bold;
            font-size: 34px;
            color: white;
        }

        h2 {
            font-weight: bold;
            font-size: 24px;
        }

        p {
            font-size: 20px;
            color: white;
            font-weight: 200;
            margin: 5px;
        }

        margin-bottom: 80px;
    }
}

.highlighted-points {
    margin-top: 30px;

    .highlight-content {
        p {
            line-height: 1.2;
            font-weight: normal;
        }

        margin-bottom: 10px;
    }
}

.highlighted-minors {
    margin-top: 50px;

    .highlight-header {
        h1 {
           font-size:  50px;
        }
    }
}

.news-articles {
    .article-wrapper {
        margin-top: 30px;

        .article {

            & .article-image {
                overflow: hidden;
                height: 250px;

                img {
                    max-width: none;
                    width: auto;
                }
            }

            & .article-content {
                padding: 20px 60px 20px 20px;

                h1 {
                    margin-bottom: 0;
                    margin-left: 0;
                    font-size: 30px;
                }

                h6 {
                    margin-top: 0;
                    margin-left: 0;
                }

                & .intro-content {
                    margin-top: 10px;
                    line-height: 1.2;
                }

                & .article-actions {
                    margin-top: 20px;
                }
            }
        }
    }
}

.highlight-header {
    margin-bottom: 10px;
    margin-top: 10px;

    i {
        color: $primary-blue;
    }

    h1 {
        font-weight: 700;
        margin: 0;
        font-size: 30px;
    }
}

    form {
        p {
            margin: 5px;
        }

        input[type=text] {
            font-size: 18px;
            padding: 10px;
            border-radius: 3px;
            border: 2px solid #dee2e3;
            margin: 15px 0px;
            width: 100%;
            background: white;
            color: #CACDD3;
        }
    }

.fa-6x{
    font-size: 5em;
}

@media (max-width: 1560px) {
    .fa-6x {
        font-size: 4em;
    }

    .highlight-header {

        h1 {
            font-size: 28px;
        }
    }
}

@media (max-width: 1300px) {
    .fa-6x {
        font-size: 4em;
    }
}

@media (max-width: 1200px) {
    .fa-6x {
        font-size: 4em;
    }

    .news-articles {
        .article-wrapper {

            .article {

                & .article-content {

                    h1 {
                        font-size: 20px;
                    }

                    h6 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .highlighted-minors {

        .highlight-header {
            h1 {
                font-size: 50px;
            }
        }

        .box {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 992px) {
    .fa-6x {
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    .news-articles {
        .article-wrapper {
            margin-top: 30px;

            .article {

                & .article-content {

                    h1 {
                        font-size: 20px;
                    }

                    h6 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;
                    }

                    & .article-actions {

                        .button {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    .highlighted-minors {
        .highlight-header {
            h1 {
                font-size: 36px;
            }
        }
    }

    .highlighted-points {
        .button {
            font-size: 10px;
        }
    }
}