.label {
    background: $primary-green;
    padding: 5px;
    border-radius: 5px;
    font-family: $primary-font;
    font-size: 14px;
    width: fit-content;
    color: white;
    font-weight: 600;
}
