.blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;


    .item {
        margin: 5px;
        padding: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s;
        word-wrap: break-word;

        h4 {
            word-break: break-all;
        }
    }

    .item:hover {
        background: #f5f5f5;
    }
}

.row {
    &.button_row {
        a {
            width: 100%;
        }
    }
}
