#overlay {
    position: fixed;
    display: none;
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    max-width: 450px;
    padding: 12px;
    margin: 20px;

    .overlay-buttons {
        margin-top: 8px;

        .button {
            margin: 8px;
        }
    }
}

