$primary-font:                      'Montserrat', sans-serif;
$secondary-font:                    'Source Sans Pro', sans-serif;

$primary-background:                 #ECF0F1;


$primary-blue:                       #4D648D;
$primary-blue-hover:                 darken($primary-blue, 10%);
$primary-blue-active:                darken($primary-blue, 15%);

$primary-red:                        #F64646;
$primary-red-hover:                  darken($primary-red, 10%);
$primary-red-active:                 darken($primary-red, 15%);

$primary-green:                      #66BFB3;
$primary-green-hover:                darken($primary-green, 10%);
$primary-green-active:               darken($primary-green, 15%);

$primary-grey:                       #CACDD3;
$primary-grey-hover:                 darken($primary-grey, 10%);
$primary-grey-active:                darken($primary-grey, 15%);

$font-color-primary:                 #434D53;
$font-color-secondary:               #848484;

