body, html {
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
    font-family: 'Source Sans Pro', sans-serif;

    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 0;
}

.underline {
    border-bottom: 2px solid #ECF0F1;
}

.center {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    min-height: 30px;
    background: white;
    box-shadow: 0 -5px 20px #9f9f9f;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.nav .title {
    font-size: 20px;
    padding: 12px 0 12px 20px;
    margin: 0;
    font-weight: bold;
}

.nav .nav-buttons {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px 14px 0;
    font-size: 15px;
}

.nav .divider {
    width: 1px;
    height: 100%;
    background: #ECF0F1;
}

.nav .nav-buttons a, .nav .nav-buttons .item {
    margin: 0 7px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.nav .nav-buttons a.active {
    border-bottom: 2px solid #F64646;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown .drop {
    position: absolute;
    background: #ced2d3;
    width: 100%;
    border-radius: 3px;
    padding: 2px;

    -webkit-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -moz-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -ms-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -o-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    opacity: 0;
    top: 90%;
}

.nav .dropdown .drop::after {
    display: block;
    content: '';
    border-bottom: 4px solid #ced2d3;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: -4px;
    left: 40%;
}

.nav .dropdown .flag {
    width: 30px;
    display: block;
    padding: 2px 0;
    border-radius: 3px;
    overflow: hidden;
}

.nav .dropdown:hover > .drop {
    visibility: visible;
    top: 110%;
    opacity: 1;
}

/* Content */
.content {
    width: 70%;
    top: 80px;
    position: absolute;
    left: 15%;
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
}

.sidebarwrapper .content {
    position: relative;
}

.content.wide {
    width: 100%;
    left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px;
}

.content article {
    background: white;
    padding: 10px;
    flex-grow: 1;
}

.content.right {
    left: 25%;
}

/* Sidebar */
.sidebarwrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: white;
    width: calc(20% - 20px);
    padding: 10px;
    min-width: 150px;
}

/* Lists */
.list {
    display: flex;
    flex-wrap: wrap;
}

.list .item {
    background: white;
    padding: 3px;
    margin: 2px;
}


.minorlist {
    flex-direction: column;
    align-content: center;
}

.minorlist .info {
    display: flex;
}

.minorlist .info .text {
    flex-grow: 1;
}

.minorlist .item {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.minorlist .item p {
    font-size: 12px;
    color: #848484;
    margin: 5px;
}

.minorlist .info .media {
    max-width: 100px;
}

.minorlist .info .media img {
    width: 100px;
}

.minorlist .info .media .points {
    text-align: center;
    color: gray;
}

.minorlist .info .media .points .ec {
    color: black;
}