body, html {
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
    font-family: 'Source Sans Pro', sans-serif;

    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 0;
}

.underline {
    border-bottom: 2px solid #ECF0F1;
}

.center {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    min-height: 30px;
    background: white;
    box-shadow: 0 -5px 20px #9f9f9f;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.nav .title {
    font-size: 20px;
    padding: 12px 0 12px 20px;
    margin: 0;
    font-weight: bold;
}

.nav .nav-buttons, .side .nav-buttons {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px 14px 0;
    font-size: 15px;
}

.side .nav-buttons {
    padding: 14px 5px;
    flex-direction: column;
}

.nav .divider {
    width: 1px;
    height: 100%;
    background: #ECF0F1;
}

.nav .nav-buttons a, .nav .nav-buttons .item {
    margin: 0 7px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.nav .nav-buttons a.active {
    border-bottom: 2px solid #F64646;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown .drop {
    position: absolute;
    background: #ced2d3;
    width: 100%;
    border-radius: 3px;
    padding: 2px;

    -webkit-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -moz-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -ms-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    -o-transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    opacity: 0;
    top: 90%;
}

.nav .dropdown .drop::after {
    display: block;
    content: '';
    border-bottom: 4px solid #ced2d3;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: -4px;
    left: 40%;
}

.nav .dropdown .flag {
    width: 30px;
    display: block;
    padding: 2px 0;
    border-radius: 3px;
    overflow: hidden;
}

.nav .dropdown:hover > .drop {
    visibility: visible;
    top: 110%;
    opacity: 1;
}

/* Content */
.content {
    width: 70%;
    top: 80px;
    position: absolute;
    left: 15%;
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
}

.sidebarwrapper .content {
    position: relative;
}

.content.wide {
    width: 100%;
    left: 0;
}

.content.side-right {
    width: calc(100% - 300px);
    right: 50px;
    margin-top: 20px;
    left: initial;
}

.content.top {
    top: 0;
    /*height: 100%;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px;
}

.content article {
    -webkit-box-shadow: 0 0 20px #dbdbdb;
    -moz-box-shadow: 0 0 20px #dbdbdb;
    box-shadow: 0 0 20px #dbdbdb;
    border-radius: 3px;
    background: white;
    padding: 10px;
    flex-grow: 1;
    margin: 10px 0;
}

.content article h1, .content article h2, .content article h3, .content article h4, .content article h5, .content article h6 {
    margin: 0;
    padding: 0;
}

.content article .review_detail {
    -webkit-box-shadow: 0 0 5px #c3c3c3;
    -moz-box-shadow: 0 0 5px #c3c3c3;
    box-shadow: 0 0 5px #c3c3c3;
    border-radius: 3px;
    background: #F6F6F6;
    flex-grow: 1;
    padding: 10px;
    margin: 10px 0;
}

.content article .review_detail p {
    margin-top: 0;
}

.content article .review_detail .stars .yellow {
    color: yellow;
}

.content.right {
    left: 25%;
}

/* Fixed sidebar */
.side {
    position: fixed;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    margin-right: 20px;
}

.side .title {
    font-size: 20px;
    padding: 12px 0 12px 20px;
    margin: 0;
    font-weight: bold;
}

.side a {
    margin: 3px 10px;
    color: #333333;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.side a:hover, .side a.active {
    color: #F64646;
}

.side i {
    /*opacity: 0.6;*/
    margin-right: 5px;
    min-width: 24px;
}

/* Floating sidebar */
.sidebarwrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    width: calc(18% - 20px);
    padding: 20px;
    min-width: 200px;
    margin-left: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px #c3c3c3;
    -moz-box-shadow: 0 0 20px #c3c3c3;
    box-shadow: 0 0 20px #c3c3c3;
}


/* Blocks */
.blocks {
    display: flex;
    flex-wrap: wrap;
}

.blocks .item {
    min-width: 100px;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    flex-grow: 1;
    padding: 10px 4px;
    text-align: center;
    margin: 5px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.blocks .item:hover {
    background: #dee2e3;
}

.blocks .description {
    margin: 3px auto;
}

.blocks .description p {
    padding: 0;
    margin: 0;
}

/* Lists */
.list {
    display: flex;
    flex-wrap: wrap;
}

.list .item {
    background: white;
    padding: 3px;
    margin: 2px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -ms-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.list.stretch .item {
    flex-grow: 1;
    text-align: center;
}

.list .item:hover {
    -webkit-box-shadow: 10px 10px 20px #c3c3c3;
    -moz-box-shadow: 10px 10px 20px #c3c3c3;
    box-shadow: 10px 10px 20px #c3c3c3;
}

.list .item:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.minorlist {
    flex-direction: column;
    align-content: center;
}

.minorlist .info, .minorlist .reviews {
    display: flex;
    margin: 4px;
}

.minorlist .reviews {
    margin: 0 9px 5px 9px;
}

.minorlist .info .text {
    flex-grow: 1;
}

.minorlist .info .text p {
    padding-bottom: 5px;
    border-bottom: 2px solid #ECF0F1;
}

.minorlist .item {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;

    border-radius: 3px;
}

.minorlist .item p, .minorlist .reviews .text {
    font-size: 12px;
    color: #848484;
    margin: 5px;
}

.minorlist .info .media {
    max-width: 100px;
}

.minorlist .info .media img {
    width: 100px;
}

.minorlist .info .media .points {
    text-align: center;
    color: gray;
}

.minorlist .info .media .points .ec {
    color: black;
}

.minorlist .reviews .period {
    display: flex;
    flex-direction: column;
}

.minorlist .reviews p, .minorlist .reviews .text {
    margin: 1px;
}

.minorlist .reviews b {
    color: black;
}

.minorlist .reviews .review {
    margin: 0 5px 0 15px;
    flex-grow: 1;
}

.minorlist .reviews .review .text {
    display: flex;
    justify-content: space-between;
}

.minorlist .reviews .review .text .amount {
    background: #248aa7;
    padding: 1px 3px;
    border-radius: 3px;
    color: white;
}

.stars {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.stars p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.review .star {
    color: #fff01a;
    font-size: 17px;
}

.stars .row {
    display: flex;
    margin: 0 auto;
    color: yellow;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 5px -10px;
    width: calc(100% + 20px);
}

.buttons a, .button {
    flex-grow: 1;
    background: #F64646;
    border-radius: 3px;
    color: white;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    transition: box-shadow 0.2s;
}

.button.small {
    font-size: 14px;
    padding: 4px;
}

.buttons a:hover, .button:hover {
    -webkit-box-shadow: 5px 5px 10px #ced2d3;
    -moz-box-shadow: 5px 5px 10px #ced2d3;
    box-shadow: 5px 5px 10px #ced2d3;
}

.buttons a, .buttons .button {
    margin: 10px;
}

/* Button Colors */
.button.blue {
    border-color: #4D648D;
    background-color: #4D648D;
}

.button.aqua {
    border-color: #66BFB3;
    background-color: #66BFB3;
}

.button.gray {
    border-color: #CACDD3;
    background-color: #CACDD3;
}

.button.disabled {
    opacity: 0.4;
}


.alert {
    padding: 15px;
    background-color: #dee2e3;
    color: #76797a;
    border-bottom: 2px solid #76797a;
    margin-bottom: 15px;
}

.alert.red {
    border-color: #F64646;
    background: #ffb0b2;
    color: #bd3434;
}

.closebutton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebutton:hover {
    color: black;
}


/* Ratings */
.rating {
    border: none;
    text-align: center;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Font Awesome 5 free";
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/* Beautify textarea */
article form textarea {
    flex-grow: 1;
    border-radius: 5px;
    display: block;
    min-height: 50px;
    border: 2px solid #dee2e3;
    resize: vertical;
}

article form .titlefield {
    margin-bottom: 5px;
}

.rating b {
    display: block;
}

/* Mobile friendly */
@media all and (max-width: 800px) {
    .content {
        flex-wrap: wrap;
    }

    .sidebar {
        position: relative;
        width: 100%;
        margin: 0 40px 40px 40px;
    }
}