.presentation {
  background: linear-gradient(to left, #89216B, #DA4453);
  padding: 100px 0 100px 0;
  margin-top: 60px;
}

.presentation .presentation-left h1 {
  font-weight: bold;
  font-size: 34px;
  color: white;
}

.presentation .presentation-left h2 {
  font-weight: bold;
  font-size: 24px;
}

.presentation .presentation-left p {
  font-size: 20px;
  color: white;
  font-weight: 200;
}

.highlighted-points {
  margin-top: 30px;
}

.highlighted-points .highlight-content {
  margin-bottom: 10px;
}

.highlighted-points .highlight-content p {
  line-height: 1.2;
  font-weight: normal;
}

.highlighted-minors {
  margin-top: 50px;
}

.highlighted-minors .highlight-header h1 {
  font-size: 50px;
}

.news-articles .article-wrapper {
  margin-top: 30px;
}

.news-articles .article-wrapper .article {
  max-height: 250px;
}

.news-articles .article-wrapper .article .article-image {
  overflow: hidden;
  height: 250px;
}

.news-articles .article-wrapper .article .article-image img {
  max-width: none;
  width: auto;
}

.news-articles .article-wrapper .article .article-content {
  padding: 20px 60px 20px 20px;
}

.news-articles .article-wrapper .article .article-content h1 {
  margin-bottom: 0;
  margin-left: 0;
  font-size: 30px;
}

.news-articles .article-wrapper .article .article-content h6 {
  margin-top: 0;
  margin-left: 0;
}

.news-articles .article-wrapper .article .article-content .intro-content {
  margin-top: 20px;
  line-height: 1.2;
}

.news-articles .article-wrapper .article .article-content .article-actions {
  margin-top: 20px;
}

.highlight-header {
  margin-bottom: 10px;
  margin-top: 10px;
}

.highlight-header i {
  color: #4D648D;
}

.highlight-header h1 {
  font-weight: 700;
  margin: 0;
}

