.presentation {
  background: linear-gradient(to left, #89216B, #DA4453);
  padding: 100px 0 100px 0;
}

.presentation .presentation-left h1 {
  font-weight: bold;
  font-size: 34px;
  color: white;
}

.presentation .presentation-left h2 {
  font-weight: bold;
  font-size: 24px;
}

.presentation .presentation-left p {
  font-size: 20px;
  color: white;
  font-weight: 200;
}

.highlights {
  margin-top: 30px;
}

.highlights .highlight-header {
  margin-bottom: 10px;
  margin-top: 10px;
}

.highlights .highlight-header i {
  color: #4D648D;
}

.highlights .highlight-header h1 {
  font-weight: 700;
  margin: 0;
}

.highlights .highlight-content {
  margin-bottom: 10px;
}

.highlights .highlight-content p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-weight: normal;
}

